/* GlassmorphismPopup.css */
.mapboxgl-popup.glassmorphism-popup .mapboxgl-popup-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff; /* Adjust text color for readability */
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    display: none;
}

.mapboxgl-popup.glassmorphism-popup .mapboxgl-popup-content h4 {
    margin: 0;
    font-size: 1em;
}

/* Optional: Style the close button */
.mapboxgl-popup.glassmorphism-popup .mapboxgl-popup-close-button {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 2px 5px;
}

.mapboxgl-popup.glassmorphism-popup .mapboxgl-popup-close-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* Optional: Adjust the popup arrow */
.mapboxgl-popup.glassmorphism-popup .mapboxgl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.2); /*Match the background*/
}

/* App.css */
.mapboxgl-control-container { /* Or the specific class of the control */
    z-index: 10; /* Adjust the value as needed */
    position: relative; /* Or absolute, if necessary */
  }