/* Navbar.css */

/* Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.navbar {
  background-color: #282932;
  color: white;
  padding: 15px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10000000;
}

.navbar-logo {
  height: 30px; 
  margin: 0 12px 7px 0; 
  vertical-align: middle; 
}

.navbar-head {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.navbar-search {
  position: relative; /* Add this */
  display: flex;
  align-items: center;
  border: none; /* Add rounded left corners */
  background-color: #32333d;
  border-radius: 15px;
}

.search-input {
  padding: 8px 12px;
  background: none;
  color: white;
  width: 450px;
  font-size: 1em;
  outline: none;
  border-radius: 15px 0 0 15px;
  border: none;
  font-family: 'Poppins', sans-serif; /* Apply Poppins to the input */
}

.search-button {
  background-color: #232428;
  color: white;
  border-radius: 0 15px 15px 0;
  border: none;
  padding: 10px 20px 10px 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif; /* Apply Poppins to the button text (if any)*/
}

.search-button:hover {
  background-color: #1c1b1b;
}

.search-button svg {
  vertical-align: middle;
}


/* Active State Styling - IMPORTANT */
.navbar-search.active.has-suggestions {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-search.active.has-suggestions .search-input {
border-bottom-left-radius: 0;
}

.navbar-search.active.has-suggestions .search-button {
border-bottom-right-radius: 0;
}


.suggestions {
  position: absolute;
  top: 100%; /* Position directly below the search bar */
  left: 0;
  right: 0; /* Occupy full width of navbar-search */
  background-color: #32333d;
  border: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  font-family: 'Poppins', sans-serif; /* Apply Poppins to the suggestions */
}

.suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions li:hover {
  background-color: #232428;
}

.navbar-search .suggestions :last-child:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Style for the map marker icon */
.search-marker-icon {
  color: #757575;
  font-size: 1em;
  margin-bottom: 2px;
  margin-right: -3px;
  padding-left: 13px;
}