

/* Navbar.css */
.navbar {
  background-color: #333;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10000000;
}

/* Navbar.css (add these styles) */
.navbar-logo {
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Space between logo and text */
  vertical-align: middle; /* Align logo with the text */
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-search {
  position: relative; /* Add this */
  display: flex;
  align-items: center;
  border: none; /* Add rounded left corners */
  background-color: #444;
  border-radius: 15px;
}

.search-input {
  padding: 8px 12px;
  background: none;
  color: white;
  width: 450px;
  font-size: 1em;
  outline: none;
  border-radius: 15px 0 0 15px;
  border: none;
}

.search-button {
  background-color: #666;
  color: white;
  border-radius: 0 15px 15px 0;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1.5;
}

.search-button:hover {
  background-color: #888;
}

.search-button svg {
  vertical-align: middle;
}


/* Active State Styling - IMPORTANT */
.navbar-search.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-search.active .search-input {
  border-bottom-left-radius: 0;
}

.navbar-search.active .search-button {
  border-bottom-right-radius: 0;
}

.navbar-search.active .suggestions {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.suggestions {
  position: absolute;
  top: 100%; /* Position directly below the search bar */
  left: 0;
  right: 0; /* Occupy full width of navbar-search */
  background-color: #444;
  border: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions li:hover {
  background-color: #333;
}

/* Style for the map marker icon */
.search-marker-icon {
  margin-right: -5px;
  padding-left: 10px;
  color: #aaa;
  font-size: 1em;
}